# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/
*.iml

mvnw*
.mvn/
target/

将删除 redis-lua-eval/src/test/
将删除 redis-lua-junior/src/
将删除 redis-lua-senior/src/
将删除 redis-lua-sha/src/
将删除 redis-pipeline-jedis/src/test/
将删除 redis-pipeline-lua/src/test/
将删除 redis-pipeline-mget/src/test/
将删除 redis-pipeline/src/main/resources/
将删除 redis-pipeline/src/test/
将删除 redis-transaction/src/test/
